<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- VARIABLE FORMATS -->
  
  <variable name="formatSlack" value="${longdate} | ${uppercase:${level}} | ${message}"/>
  <variable name="formatServiceSlack" value="${uppercase:${level}} | ${message}"/>
  <variable name="formatFile" value="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
  <variable name="formatConsole" value="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
  
  <extensions>
    <add assembly="NLog.Slack" />
  </extensions>

  <targets async="true">
    
    <!-- SLACK MONITORING TARGET -->
    <target xsi:type="Slack"
            name="slackMonitoringTarget"
            layout="${formatSlack}"
            webHookUrl="https://hooks.slack.com/services/somewhere"
            compact="true" >
    </target>
    
    <!-- FILE TARGET -->
    <target name="file" xsi:type="File" layout="${formatFile}" 
            fileName="${basedir}/Logs/${date:format=yyyy}/log-${shortdate}.log"
            archiveFileName="${basedir}/Logs/${date:format=yyyy}/log-${shortdate}.{####}.log"
            archiveAboveSize="1000000"
    />

    <!-- CONSOLE TARGET -->
    <target name="console" xsi:type="ColoredConsole" layout="${formatConsole}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="slackMonitoringTarget" />
    <logger name="Service" minlevel="Trace" writeTo="slackServiceTarget" />
    <logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>